@import "mixins"
@import "constants"
@import "common"


.content
	&.profile
		background-color: #ffffff
		@extend .pull-left
		@include calc("width", "100% - 20px")
		padding: 10px
		.add-icon
			@extend .absolute-left
			margin-left: -30px
		.headerlink
			padding-right: 100px
			color: #333333
			&.active
				color: #228fdf
			&:last-child
				padding-right: 0px
				@include calc("width", "100% - 170px")
		h4
			padding: 0px
			margin: 0px
		.avatar
			@extend .pull-left
			height: 85px
			width: 85px
			@include border-radius-equals(5px)
			background-color: lightgray
			overflow: hidden
		.profile-info
			@extend .pull-left
			padding-left: 10px
			@include calc("width", "100% - 95px")
			.profilelink
				background-color: #e5e9ea
				@extend .pull-left
				@include calc("width", "100% - 20px")
				@include border-radius-equals(5px)
				padding: 5px 10px
				margin-top: 35px
				a
					@extend .fontsize14
		.split
			@extend .pull-left
			width: 100%
			@include border-radius-equals(5px)
			@include box-shadow('', 3px, 3px, 0px, 0px, 193, 209, 200, 1)
			background-color: #f4f4f4
			height: 80px
			a
				@extend .pull-left
				@include calc('width', "100% - 10px")
				height: 25px
				text-align: left
				padding: 10px 0px 5px 10px
				text-decoration: none
				color: #000000
				font-size: 18px
				&:first-child
					border-bottom: 1px solid #cdd4d8
				.number
					background-color: #fbddcc
					color: #ff801e
					padding: 5px 0px
					width: 50px
					text-align: center
					@extend .fontsize16
					@extend .bold
					@extend .pull-right
					@include border-radius-equals(10px)
					margin-top: -4px
					margin-right: 10px
	.success
		@extend .pull-left
		@extend .fullwidth
		list-style: none
		padding: 10px 0px
		margin: 0px
		li
			@extend .pull-left
			padding: 0px
			margin: 0px 0px 10px 0px
			background-color: #e4f6f9
			padding: 10px
			border-radius: 6px
			@include calc("width", "100% - 20px")
			&.wider
				@include calc("width", "50% - 25px")
				&:nth-child(odd)
					margin-right: 5px
				&:nth-child(even)
					margin-left: 5px
			.number
				@extend .pull-left
				color: #ff801e
				font-size: 54px
				font-weight: bold
				padding-right: 10px
.content-info
	&.news
		padding: 10px
		@include calc("width", "100% - 20px")
		.wider
			@include calc("width", "50% - 25px")
			margin: 0px
			&:nth-child(even)
				margin-right: 5px
			&:nth-child(odd)
				margin-left: 5px
		.date
			padding: 5px 0px
		h4
			padding: 10px 0px

.visibility
	@extend .pull-left
	@extend .fullwidth
	padding: 5px 0px
	margin: 0px
	list-style: none
	font-size: 16px
	font-weight: normal
	color: #333333
	li
		padding: 10px 0px
		margin: 0px
		.switcher
			@extend .pull-right
			background-color: #e5e9ea
			width: 120px
			text-align: center
			@include border-radius-equals(5px)
			color: #ff801e
			font-weight: bold
			padding: 5px 10px

.block
	@extend .pull-left
	@include calc("width", "100%")
	&.wider
		@include calc("width", "50% - 10px")
		&:nth-child(odd)
			margin-right: 10px
		&:nth-child(even)
			margin-left: 10px
	.date-day
		@include calc("width", "20% - 15px")
	.date-month
		@include calc("width", "60% - 18px")
	.date-year
		@include calc("width", "20% - 15px")

.socials-block
	.item
		clear: both
		@extend .pull-left
		@extend .fullwidth
	.vk
		@extend .socials-links
		@include background-position(24px, 24px, -106px, -5px)
	.facebook
		@extend .socials-links
		@include background-position(24px, 24px, -160px, -5px)
	.twitter
		@extend .socials-links
		@include background-position(24px, 24px, -214px, -5px)
	.odnoklassniki
		@extend .socials-links
		@include background-position(24px, 24px, -54px, -5px)
	input[type="text"]
		@include calc("width", "100% - 140px")
		float: left !important
		margin-left: 20px


.success .info
	padding-left: 85px

.detach
	width: 41px
	height: 40px
	cursor: pointer
	display: inline-block
	float: right
	border-radius: 6px
	background: url("../images/detach.png") no-repeat
	background-position: -93px -1px
	background-size: 134px 41px

.detach.active,
.detach.aviable.active
	background-position: -47px 0




.detach.aviable
	background-position: 0 -1px