/* line 2, ../../sass/objects/flex.sass */
.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

/* line 8, ../../sass/objects/flex.sass */
.flex-row {
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

/* line 13, ../../sass/objects/flex.sass */
.flex-row-reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

/* line 19, ../../sass/objects/flex.sass */
.flex-column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

/* line 24, ../../sass/objects/flex.sass */
.flex-column-reverse {
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
}

/* line 29, ../../sass/objects/flex.sass */
.flex-center {
  justify-content: center;
  -webkit-justify-content: center;
}

/* line 33, ../../sass/objects/flex.sass */
.flex-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/* line 37, ../../sass/objects/flex.sass */
.flex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

/* line 41, ../../sass/objects/flex.sass */
.flex-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* line 45, ../../sass/objects/flex.sass */
.flex-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

/* line 49, ../../sass/objects/flex.sass */
.flex-align-start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

/* line 53, ../../sass/objects/flex.sass */
.flex-align-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

/* line 57, ../../sass/objects/flex.sass */
.flex-align-center {
  align-items: center;
  -webkit-align-items: center;
}

/* line 61, ../../sass/objects/flex.sass */
.flex-align-baseline {
  align-items: baseline;
  -webkit-align-items: baseline;
}

/* line 65, ../../sass/objects/flex.sass */
.flex-align-stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}

/* line 69, ../../sass/objects/flex.sass */
.flex-content-start {
  align-content: flex-start;
  -webkit-align-content: flex-start;
}

/* line 73, ../../sass/objects/flex.sass */
.flex-content-end {
  align-content: flex-end;
  -webkit-align-content: flex-end;
}

/* line 77, ../../sass/objects/flex.sass */
.flex-content-center {
  align-content: center;
  -webkit-align-content: center;
}

/* line 81, ../../sass/objects/flex.sass */
.flex-content-between {
  align-content: space-between;
  -webkit-align-content: space-between;
}

/* line 85, ../../sass/objects/flex.sass */
.flex-content-around {
  align-content: space-around;
  -webkit-align-content: space-around;
}

/* line 89, ../../sass/objects/flex.sass */
.flex-content-stretch {
  align-content: stretch;
  -webkit-align-content: stretch;
}

/* line 93, ../../sass/objects/flex.sass */
.flex-wrap-no {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}

/* line 98, ../../sass/objects/flex.sass */
.flex-wrap-on {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
