@font-face {
  font-family: "ArialRegular";
  src: url("/fonts/arial.ttf");
}
@font-face {
  font-family: "ArialBold";
  src: url("/fonts/ARIALBD.TTF");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("/fonts/MyriadPro-Regular.otf");
}
/* line 17, ../../sass/objects/common.scss */
.pull-left, .btn.btn-ready, .btn span, .btn.btn-grey, .help-inline, .daw, .back-arrow, .history-title, i.adult, i.children, i.elderly, i.animals, .tabs, .tabs li, .socials-icons-big li, .socials-icons-big li a.social-mail, .socials-icons-big li a.social-odnoklassniki, .socials-icons-big li a.social-twitter, .socials-icons-big li a.social-facebook, .socials-icons-big li a.social-vk, .add-icon, .widthpadding, .plans, .stars, .usefull, .man-of-kindness, .successfull-projects, .help-icon-big, .pounch-icon-big, .urgently-icon-big, .heart-icon, .project.history .footer, .project .thanks, .thanks-bird .split, .thanks-bird .split.grey .social-block, .thanks-bird .split.grey .linkbutton, .thanks-bird .split.grey .btn, .thanks-bird.blue .split, .thanks-bird.blue .split a, .thanks-bird .people, .thanks-bird .people ul li, .thanks-bird .people ul li .avatar, .thanks-bird .people ul li span, .thanks-bird.grey .payment-info, .thanks-bird.grey .payment-info li, .thanks-bird.grey .payment-info li i, .thanks-bird.grey .payment-info li .description, .thanks-bird.grey .payment-info li .description .hand-description span, .thanks-bird.grey .payment-info li .description .help-description-project, .thanks-bird.grey .payment-info li .description .pouch-chart, .thanks-bird.grey .payment-info li .description .pouch-chart .pouch-filled, .thanks-bird.grey .payment-info li .description .pouch-left span, .thanks-bird .base, .thanks-bird .base .imageinfo, .thanks-bird .base .info, .thanks-bird .base .info span, .thanks-bird .base .info a.fund, .thanks-bird .base .info .infoline, .thanks-bird h4, .thanks-bird.details .anonym, .thanks-bird.details .anonym input[type="checkbox"], .thanks-bird.details .business-check, .thanks-bird.details .business-check li, .thanks-bird.details .business-check li input[type="checkbox"], .thanks-bird.details .custom-money-value, .slider-project, .slider-project .images-list .items, .slider-project .counter i.item, .projects-menu, .projects-menu h3 {
  float: left !important;
  position: relative;
}

/* line 22, ../../sass/objects/common.scss */
.pull-right, .btn i.ready-arrow, .arrow-more-grey, .arrow-more-dark-grey, .arrow-down-big, .arrow-down-small, .project.history .socials-left {
  float: right !important;
  position: relative;
}

/* line 27, ../../sass/objects/common.scss */
.absolute-left, .project .content-info .stars, .thanks-bird, .slider-project .images-list .items .image-item {
  float: left !important;
  position: absolute;
}

/* line 32, ../../sass/objects/common.scss */
.absolute-right {
  float: right !important;
  position: absolute;
}

/* line 37, ../../sass/objects/common.scss */
.fullwidth, .clearfix, .tabs {
  width: 100%;
  clear: both;
}

/* line 42, ../../sass/objects/common.scss */
.pointer, .icon {
  cursor: pointer;
}

/* line 46, ../../sass/objects/common.scss */
.content {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
}

/* line 53, ../../sass/objects/common.scss */
.center, .project.history .socials-left {
  text-align: center !important;
}

/* line 57, ../../sass/objects/common.scss */
.left {
  text-align: left !important;
}

/* line 61, ../../sass/objects/common.scss */
.half {
  float: left;
  position: relative;
  width: 50% !important;
}

/* line 67, ../../sass/objects/common.scss */
.page {
  margin: 0px auto;
  width: 100%;
  min-width: 300px;
  min-height: 100%;
  display: block;
}

/* line 74, ../../sass/objects/common.scss */
.page.wider {
  width: 766px;
}

/* line 78, ../../sass/objects/common.scss */
.blockcontainer {
  float: left;
  position: relative;
  width: 100%;
  min-height: 100%;
}

/* line 86, ../../sass/objects/common.scss */
.icon {
  float: left;
  width: 24px;
  height: 24px;
  padding: 11px 10px 9px 10px;
}

/* line 94, ../../sass/objects/common.scss */
.icon__pic {
  display: inline-block;
  vertical-align: baseline;
}

/* line 99, ../../sass/objects/common.scss */
.icon__class {
  color: #fff;
}

/* line 103, ../../sass/objects/common.scss */
.imagepart, .btn i.ready-arrow, .arrow-more-grey, .arrow-more-dark-grey, .daw, .back-arrow, i.adult, i.children, i.elderly, i.animals, .socials-icons-big li a.social-mail, .socials-icons-big li a.social-odnoklassniki, .socials-icons-big li a.social-twitter, .socials-icons-big li a.social-facebook, .socials-icons-big li a.social-vk, .add-icon, .plans, .stars, .usefull, .man-of-kindness, .successfull-projects, .help-icon-big, .pounch-icon-big, .urgently-icon-big, .heart-icon, .arrow-down-big, .arrow-down-small, .project .content-info .stars, .thanks-bird, .thanks-bird.grey .payment-info li i {
  background-image: url("../images/images.png");
  background-repeat: no-repeat;
  background-size: 390px 572px;
}

/* line 109, ../../sass/objects/common.scss */
.socials-links {
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-size: 269px 54px !important;
}

/* line 115, ../../sass/objects/common.scss */
.shadowed {
  float: left;
  position: absolute;
  height: 100%;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.3);
  width: 100%;
  min-width: 300px;
  z-index: -1;
  background-color: #fff;
}

/* line 126, ../../sass/objects/common.scss */
.shadowed.wider {
  width: 766px;
}

/* line 130, ../../sass/objects/common.scss */
a {
  color: #228fdf;
  text-decoration: none;
}

/* line 135, ../../sass/objects/common.scss */
.btn {
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

/* line 144, ../../sass/objects/common.scss */
.btn.btn-add {
  color: #333333;
}

/* line 148, ../../sass/objects/common.scss */
.btn.btn-ready {
  width: 100%;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  background-color: #228ede;
  color: #fff;
}

/* line 155, ../../sass/objects/common.scss */
.btn span {
  width: -webkit-calc(100% - 44px);
  width: -moz-calc(100% - 44px);
  width: calc(100% - 44px);
  padding: 0px 10px;
}

/* line 160, ../../sass/objects/common.scss */
.btn i.ready-arrow {
  width: 14px;
  height: 14px;
  background-position: -112px -101px;
  margin-right: 10px;
  margin-top: 5px;
}

/* line 167, ../../sass/objects/common.scss */
.btn.btn-ready:hover,
.btn.btn-ready:focus {
  background-color: #0080d0;
}

/* line 172, ../../sass/objects/common.scss */
.btn.btn-more {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 3px 0px 0px #d7d7d7;
  -moz-box-shadow: 2px 3px 0px 0px #d7d7d7;
  box-shadow: 2px 3px 0px 0px #d7d7d7;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #228ede;
}

/* line 181, ../../sass/objects/common.scss */
.btn.btn-more:hover,
.btn.btn-more:focus {
  background-color: #f1f1f1;
}

/* line 186, ../../sass/objects/common.scss */
.btn.btn-grey {
  background-color: #e7ebec;
  color: #228fdf;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  width: 100%;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

/* line 197, ../../sass/objects/common.scss */
.btn-pic-sm {
  display: inline-block;
  width: 177px;
  height: 56px;
  text-align: center;
  line-height: 52px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: url("../images/dobromobilpay.png") no-repeat;
  background-size: 480px 173px;
  background-position: -7px -100px;
}

/* line 211, ../../sass/objects/common.scss */
.btn-pic-sm.btn-center {
  display: block;
  margin: 0 auto;
}

/* line 216, ../../sass/objects/common.scss */
.btn-pic-lg {
  display: inline-block;
  width: 252px;
  height: 58px;
  text-align: center;
  line-height: 52px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: url("../images/dobromobilpay.png") no-repeat;
  background-size: 480px 173px;
  background-position: -188px -100px;
}

/* line 230, ../../sass/objects/common.scss */
.btn-pic-lg.btn-center {
  display: block;
  margin: 0 auto;
}

/* line 235, ../../sass/objects/common.scss */
.arrow-more-grey {
  width: 12px;
  height: 12px;
  background-position: -26px -208px;
  margin-top: 5px;
  margin-left: 5px;
}

/* line 243, ../../sass/objects/common.scss */
.arrow-more-dark-grey {
  width: 12px;
  height: 12px;
  background-position: -45px -208px;
  margin-top: 7px;
  margin-left: 5px;
}

/* line 251, ../../sass/objects/common.scss */
.help-inline {
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #808080;
  padding-top: 10px;
}

/* line 260, ../../sass/objects/common.scss */
.help-inline a {
  color: #2280cf;
  text-decoration: none;
}

/* line 265, ../../sass/objects/common.scss */
.fontsize16 {
  font-size: 16px !important;
}

/* line 269, ../../sass/objects/common.scss */
.fontsize14 {
  font-size: 14px;
}

/* line 273, ../../sass/objects/common.scss */
.fontsize12 {
  font-size: 12px;
}

/* line 277, ../../sass/objects/common.scss */
.fontsize18 {
  font-size: 18px !important;
}

/* line 281, ../../sass/objects/common.scss */
.fontsize20 {
  font-size: 20px !important;
}

/* line 285, ../../sass/objects/common.scss */
.fontsize22 {
  font-size: 22px !important;
}

/* line 289, ../../sass/objects/common.scss */
.fontsize21 {
  font-size: 21px !important;
}

/* line 293, ../../sass/objects/common.scss */
.fontsize24 {
  font-size: 24px !important;
}

/* line 297, ../../sass/objects/common.scss */
.orangbg {
  background-color: #ffe5c7 !important;
}

/* line 301, ../../sass/objects/common.scss */
.bluebg {
  background-color: #daf4fe !important;
}

/* line 305, ../../sass/objects/common.scss */
.small-title {
  font-size: 20px !important;
}

/* line 309, ../../sass/objects/common.scss */
.clearfix {
  clear: both;
  height: 5px;
}

/* line 315, ../../sass/objects/common.scss */
.greyfont, h4 {
  color: #333333;
}

/* line 319, ../../sass/objects/common.scss */
.lightgreyfont {
  color: #666666;
}

/* line 323, ../../sass/objects/common.scss */
.greybg {
  background-color: #ecf0f1 !important;
}

/* line 327, ../../sass/objects/common.scss */
.darkgreybg {
  background-color: #e2e5e8;
}

/* line 330, ../../sass/objects/common.scss */
.daw {
  width: 15px;
  height: 15px;
  background-position: -86px -205px;
}

/* line 336, ../../sass/objects/common.scss */
.bold {
  font-weight: bold;
}

/* line 340, ../../sass/objects/common.scss */
.back-arrow {
  position: absolute;
  top: 9px;
  left: 10px;
  z-index: 10;
  width: 15px;
  height: 15px;
  background-position: -61px -206px;
  margin-left: 4px;
  margin-top: 3px;
}

/* line 352, ../../sass/objects/common.scss */
.history-title {
  padding-left: 27px !important;
  padding-top: 0px !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
  max-width: 700px;
}

/* line 361, ../../sass/objects/common.scss */
i.adult {
  margin: 2px;
  width: 25px;
  height: 25px;
  background-position: -6px -65px;
}

/* line 367, ../../sass/objects/common.scss */
i.adult.empty {
  width: 25px;
  height: 25px;
  background-position: -116px -196px;
}

/* line 370, ../../sass/objects/common.scss */
i.children {
  margin: 2px;
  width: 25px;
  height: 25px;
  background-position: -32px -65px;
}

/* line 376, ../../sass/objects/common.scss */
i.children.empty {
  width: 25px;
  height: 25px;
  background-position: -206px -196px;
}

/* line 379, ../../sass/objects/common.scss */
i.elderly {
  margin: 2px;
  width: 26px;
  height: 26px;
  background-position: -57px -65px;
}

/* line 385, ../../sass/objects/common.scss */
i.elderly.empty {
  width: 25px;
  height: 25px;
  background-position: -146px -196px;
}

/* line 388, ../../sass/objects/common.scss */
i.animals {
  margin: 2px;
  width: 25px;
  height: 25px;
  background-position: -83px -65px;
}

/* line 394, ../../sass/objects/common.scss */
i.animals.empty {
  width: 25px;
  height: 25px;
  background-position: -176px -196px;
}

/* line 398, ../../sass/objects/common.scss */
.tabs {
  padding: 10px 0px;
  margin: 10px 0px;
  list-style: none;
}

/* line 406, ../../sass/objects/common.scss */
.tabs li {
  padding: 10px 0px;
  text-align: center;
  margin: 0px;
  background-color: #e2e5e8;
  height: 20px;
}

/* line 415, ../../sass/objects/common.scss */
.tabs li a {
  font-size: 18px;
}

/* line 419, ../../sass/objects/common.scss */
.tabs li.active {
  background-color: #fff;
}

/* line 423, ../../sass/objects/common.scss */
.tabs li.active a {
  color: #808080;
}

/* line 427, ../../sass/objects/common.scss */
.tabs li:last-child {
  height: 20px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

/* line 432, ../../sass/objects/common.scss */
.tabs li:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}

/* line 436, ../../sass/objects/common.scss */
.lightgraybg {
  background-color: #f4f4f4 !important;
}

/* line 440, ../../sass/objects/common.scss */
.socials-icons-big {
  list-style: none;
  padding: 0px;
  margin: 0px auto 0px auto;
  min-width: 300px;
  max-width: 500px;
}

/* line 448, ../../sass/objects/common.scss */
.socials-icons-big li {
  padding: 0px 5px 10px 5px;
}

/* line 453, ../../sass/objects/common.scss */
.socials-icons-big li a.social-mail {
  width: 90px;
  height: 70px;
  background-position: -294px -199px;
}

/* line 458, ../../sass/objects/common.scss */
.socials-icons-big li a.social-odnoklassniki {
  width: 90px;
  height: 70px;
  background-position: -294px -270px;
}

/* line 463, ../../sass/objects/common.scss */
.socials-icons-big li a.social-twitter {
  width: 90px;
  height: 70px;
  background-position: -294px -341px;
}

/* line 468, ../../sass/objects/common.scss */
.socials-icons-big li a.social-facebook {
  width: 90px;
  height: 70px;
  background-position: -294px -413px;
}

/* line 473, ../../sass/objects/common.scss */
.socials-icons-big li a.social-vk {
  width: 90px;
  height: 70px;
  background-position: -294px -484px;
}

/* line 479, ../../sass/objects/common.scss */
.add-icon {
  width: 23px;
  height: 23px;
  background-position: -240px -200px;
}

/* line 484, ../../sass/objects/common.scss */
.bordered {
  border-bottom: 1px solid #cdd4d8;
}

/* line 488, ../../sass/objects/common.scss */
.woutpadding {
  padding: 10px 0px !important;
  width: 100% !important;
}

/* line 492, ../../sass/objects/common.scss */
.woutpadding .payment-info li {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px !important;
}

/* line 497, ../../sass/objects/common.scss */
.widthpadding {
  padding: 0px 10px;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
}

/* line 507, ../../sass/objects/common.scss */
.plans {
  margin: 12px;
  width: 24px;
  height: 24px;
  background-position: -6px -5px;
}

/* line 513, ../../sass/objects/common.scss */
.stars {
  margin: 12px 8px 12px 12px;
  width: 30px;
  height: 26px;
  background-position: -130px -4px;
}

/* line 519, ../../sass/objects/common.scss */
.usefull {
  margin: 12px;
  width: 24px;
  height: 27px;
  background-position: -36px -3px;
}

/* line 525, ../../sass/objects/common.scss */
.man-of-kindness {
  margin: 12px;
  width: 24px;
  height: 24px;
  background-position: -65px -3px;
}

/* line 531, ../../sass/objects/common.scss */
.successfull-projects {
  width: 28px;
  height: 28px;
  background-position: -92px -4px;
  margin: 12px 12px 12px 9px;
}

/* line 538, ../../sass/objects/common.scss */
.whitebg {
  background-color: #ffffff !important;
}

/* line 542, ../../sass/objects/common.scss */
.help-icon-big {
  width: 56px;
  height: 36px;
  background-position: -229px -423px;
}

/* line 547, ../../sass/objects/common.scss */
.pounch-icon-big {
  width: 44px;
  height: 36px;
  background-position: -182px -422px;
  margin-right: 12px;
}

/* line 553, ../../sass/objects/common.scss */
.urgently-icon-big {
  width: 56px;
  height: 36px;
  background-position: -117px -425px;
}

/* line 559, ../../sass/objects/common.scss */
.heart-icon {
  width: 50px;
  height: 47px;
  background-position: -118px -481px;
}

/* line 565, ../../sass/objects/common.scss */
.arrow-down-big {
  width: 20px;
  height: 12px;
  background-position: -335px -52px;
}

/* line 571, ../../sass/objects/common.scss */
.arrow-down-big.up {
  width: 20px;
  height: 12px;
  background-position: -361px -52px;
}

/* line 574, ../../sass/objects/common.scss */
.arrow-down-small {
  width: 20px;
  height: 12px;
  background-position: -335px -28px;
}

/* line 580, ../../sass/objects/common.scss */
.normaltext {
  font-weight: normal !important;
}

/* line 584, ../../sass/objects/common.scss */
.darkblue {
  background-color: #d4ebf4;
}

/* line 588, ../../sass/objects/common.scss */
.burger:active {
  background-color: #147fcb;
}

/* line 71, ../../sass/objects/mixins.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 76, ../../sass/objects/mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 596, ../../sass/objects/common.scss */
.title-lg {
  font-size: 18px !important;
  margin: 20px 0 0 0;
}

/* line 601, ../../sass/objects/common.scss */
.title-purse {
  position: relative;
  padding: 0 0 0 40px;
  margin: 0 !important;
  color: #0088CF !important;
  font-size: 18px !important;
  line-height: 25px;
}

/* line 610, ../../sass/objects/common.scss */
.title-purse:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 27px;
  background: url("../images/dobromobilpay.png") no-repeat;
  background-size: 480px 173px;
  background-position: -448px -99px;
}

/* line 622, ../../sass/objects/common.scss */
.thanks-text {
  font-size: 16px;
  line-height: 20px;
}

/* line 5, ../../sass/objects/project.sass */
.project {
  background-color: #ffffff;
  padding: 10px;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
}
/* line 9, ../../sass/objects/project.sass */
.project.history {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cdd4d8;
}
/* line 13, ../../sass/objects/project.sass */
.project.history .info-title {
  font-size: 18px;
  padding: 0px;
}
/* line 16, ../../sass/objects/project.sass */
.project.history .projectname {
  clear: both;
  padding-top: 10px;
}
/* line 19, ../../sass/objects/project.sass */
.project.history .footer {
  width: 100%;
  clear: both;
}
/* line 23, ../../sass/objects/project.sass */
.project.history .footer.wider {
  width: -webkit-calc(50% - 20px);
  width: -moz-calc(50% - 20px);
  width: calc(50% - 20px);
}
/* line 25, ../../sass/objects/project.sass */
.project.history .socials-left {
  width: 100%;
  clear: both;
}
/* line 30, ../../sass/objects/project.sass */
.project.history .socials-left.wider {
  width: 50%;
}
/* line 32, ../../sass/objects/project.sass */
.project.history .back-arrow {
  top: 15px;
}
/* line 35, ../../sass/objects/project.sass */
.project .content-info .stars {
  right: 0px;
  margin-top: -10px;
  margin-right: 10px;
  width: 60px;
  height: 55px;
  background-position: -116px -357px;
}
/* line 42, ../../sass/objects/project.sass */
.project .thanks {
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
}
/* line 48, ../../sass/objects/project.sass */
.project .thanks h4 {
  float: none !important;
  padding: 0px;
  margin: 0px;
  font-size: 25px !important;
  font-weight: bold;
  color: #228DDD;
}

/* line 56, ../../sass/objects/project.sass */
.thanks-bird {
  width: 48px;
  height: 48px;
  background-position: -166px -128px;
  position: relative;
  margin: 0 auto;
  float: none !important;
}
/* line 64, ../../sass/objects/project.sass */
.thanks-bird .split {
  width: 100%;
  padding: 5px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
}
/* line 70, ../../sass/objects/project.sass */
.thanks-bird .split.grey {
  background-color: #f5f7f7;
}
/* line 72, ../../sass/objects/project.sass */
.thanks-bird .split.grey .social-block {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 20px 10px;
  border-bottom: 1px solid #c2c4c6;
}
/* line 77, ../../sass/objects/project.sass */
.thanks-bird .split.grey .linkbutton {
  text-align: left;
  width: 100%;
  padding: 10px 10px 5px 10px;
}
/* line 82, ../../sass/objects/project.sass */
.thanks-bird .split.grey .btn {
  width: -webkit-calc(100% - 15px);
  width: -moz-calc(100% - 15px);
  width: calc(100% - 15px);
  text-align: left !important;
  padding: 0px !important;
  color: #228fdf;
  text-decoration: none;
}
/* line 90, ../../sass/objects/project.sass */
.thanks-bird .projectname {
  color: #808080;
  font-size: 12px;
  clear: both;
}
/* line 94, ../../sass/objects/project.sass */
.thanks-bird .i-want-deader {
  color: #333333;
  font-size: 20px;
  clear: both;
  width: 100%;
  padding-top: 0px;
}
/* line 100, ../../sass/objects/project.sass */
.thanks-bird.blue {
  background-color: #daf4fe;
  border-top: 1px solid #cdd4d8;
}
/* line 103, ../../sass/objects/project.sass */
.thanks-bird.blue .split {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 0px 0px #c1c8d1;
  -moz-box-shadow: 3px 3px 0px 0px #c1c8d1;
  box-shadow: 3px 3px 0px 0px #c1c8d1;
  background-color: #ffffff;
  height: 80px;
}
/* line 110, ../../sass/objects/project.sass */
.thanks-bird.blue .split a {
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px);
  height: 25px;
  text-align: left;
  padding: 10px 0px 7px 10px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}
/* line 119, ../../sass/objects/project.sass */
.thanks-bird.blue .split a:first-child {
  border-bottom: 1px solid #cdd4d8;
}
/* line 121, ../../sass/objects/project.sass */
.thanks-bird h3 {
  padding: 0px 0px 15px 0px;
  margin: 0px;
}
/* line 124, ../../sass/objects/project.sass */
.thanks-bird .people {
  width: 100%;
  padding-bottom: 10px;
}
/* line 128, ../../sass/objects/project.sass */
.thanks-bird .people ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* line 132, ../../sass/objects/project.sass */
.thanks-bird .people ul li {
  width: 100%;
  clear: both;
  padding: 5px 0px;
}
/* line 136, ../../sass/objects/project.sass */
.thanks-bird .people ul li.wider {
  width: 50%;
}
/* line 139, ../../sass/objects/project.sass */
.thanks-bird .people ul li .avatar {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
  overflow: hidden;
}
/* line 146, ../../sass/objects/project.sass */
.thanks-bird .people ul li span {
  padding-left: 10px;
  color: #228fdf;
  font-size: 18px;
  padding-top: 10px;
}
/* line 153, ../../sass/objects/project.sass */
.thanks-bird a.btn-ready {
  text-align: left;
  padding-left: 10px;
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px);
  margin-top: 15px;
}
/* line 158, ../../sass/objects/project.sass */
.thanks-bird.grey {
  background-color: #f5f7f7;
  border-top: 1px solid #cdd4d8;
}
/* line 161, ../../sass/objects/project.sass */
.thanks-bird.grey.last {
  border-bottom: none;
}
/* line 163, ../../sass/objects/project.sass */
.thanks-bird.grey.first {
  border-top: none !important;
}
/* line 165, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info {
  padding: 5px 0px;
  margin: 0px;
  list-style: none;
  font-size: 16px;
  width: 100%;
}
/* line 172, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info.first {
  padding-left: 0px;
  width: 100%;
}
/* line 175, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info.first.wider {
  padding-left: 117px;
  width: 80%;
}
/* line 178, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li {
  padding: 10px 0px 0px;
  margin: 0px;
}
/* line 185, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li i.pouch {
  width: 28px;
  height: 24px;
  background-position: -26px -98px;
}
/* line 187, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li i.hand {
  width: 28px;
  height: 24px;
  background-position: -51px -97px;
}
/* line 189, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li i.arrow {
  width: 16px;
  height: 16px;
  background-position: -86px -101px;
  margin-left: 5px;
  margin-top: 3px;
}
/* line 193, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li i.arrow.active {
  width: 16px;
  height: 16px;
  background-position: -188px -101px;
}
/* line 195, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li .description {
  width: -webkit-calc(100% - 33px);
  width: -moz-calc(100% - 33px);
  width: calc(100% - 33px);
  padding-left: 5px;
}
/* line 202, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li .description .help-description-project {
  margin-left: -5px;
  padding-left: 5px;
  width: 100%;
}
/* line 207, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li .description .help-description-project ul {
  padding-left: 18px;
  list-style: disc;
  font-size: 16px;
}
/* line 211, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li .description .pouch-chart {
  margin-top: 10px;
  width: 100%;
  background-color: #d8d8d8;
  height: 5px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
/* line 218, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li .description .pouch-chart .pouch-filled {
  width: 90%;
  height: 5px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ff801e;
}
/* line 225, ../../sass/objects/project.sass */
.thanks-bird.grey .payment-info li .description .pouch-left span {
  clear: both;
  padding-top: 5px;
}
/* line 229, ../../sass/objects/project.sass */
.thanks-bird .base {
  width: 100%;
}
/* line 232, ../../sass/objects/project.sass */
.thanks-bird .base .imageinfo {
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 238, ../../sass/objects/project.sass */
.thanks-bird .base .info {
  padding-left: 10px;
  font-size: 12px;
  width: -webkit-calc(100% - 90px);
  width: -moz-calc(100% - 90px);
  width: calc(100% - 90px);
}
/* line 243, ../../sass/objects/project.sass */
.thanks-bird .base .info span {
  padding: 3px 10px 2px 0px;
  color: #666666;
}
/* line 247, ../../sass/objects/project.sass */
.thanks-bird .base .info .danger {
  background-color: #fac400;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  padding: 3px 10px;
  color: #333333;
}
/* line 252, ../../sass/objects/project.sass */
.thanks-bird .base .info .days {
  color: #ff801e;
}
/* line 254, ../../sass/objects/project.sass */
.thanks-bird .base .info a.fund {
  text-decoration: none;
  color: #2280cf;
  font-size: 12px;
}
/* line 259, ../../sass/objects/project.sass */
.thanks-bird .base .info .infoline {
  width: 100%;
  clear: both;
  padding-bottom: 4px;
}
/* line 264, ../../sass/objects/project.sass */
.thanks-bird h4 {
  font-size: 22px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* line 271, ../../sass/objects/project.sass */
.thanks-bird .socials-title {
  font-size: 16px;
  text-align: left !important;
}
/* line 274, ../../sass/objects/project.sass */
.thanks-bird .socials-title.wider {
  text-align: left !important;
  float: left;
  position: absolute;
  width: 200px;
}
/* line 280, ../../sass/objects/project.sass */
.thanks-bird.details h2 {
  padding: 0px;
  margin: 0px;
}
/* line 283, ../../sass/objects/project.sass */
.thanks-bird.details .anonym {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 15px 10px;
  background-color: #f5f7f7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 0px 0px #d7d7d7;
  -moz-box-shadow: 3px 3px 0px 0px #d7d7d7;
  box-shadow: 3px 3px 0px 0px #d7d7d7;
}
/* line 290, ../../sass/objects/project.sass */
.thanks-bird.details .anonym input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: -3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 297, ../../sass/objects/project.sass */
.thanks-bird.details .anonym span {
  margin-top: 7px;
  font-size: 16px;
  font-weight: bold;
  max-width: 300px;
  min-width: 150px;
}
/* line 303, ../../sass/objects/project.sass */
.thanks-bird.details h4 {
  font-size: 16px;
  clear: both;
}
/* line 306, ../../sass/objects/project.sass */
.thanks-bird.details .business-check {
  width: 100%;
  padding: 0px 0px 15px 0px;
  margin: 0px;
  list-style: none;
}
/* line 312, ../../sass/objects/project.sass */
.thanks-bird.details .business-check li {
  padding: 0px 0px 10px 0px;
  margin: 5px 0px 0px 0px;
  width: 100%;
}
/* line 317, ../../sass/objects/project.sass */
.thanks-bird.details .business-check li.wider {
  width: 50%;
}
/* line 319, ../../sass/objects/project.sass */
.thanks-bird.details .business-check li input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: -3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 326, ../../sass/objects/project.sass */
.thanks-bird.details .business-check li span {
  margin-top: 7px;
  font-size: 16px;
  max-width: 300px;
  min-width: 150px;
}
/* line 331, ../../sass/objects/project.sass */
.thanks-bird.details .custom-money-value {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 20px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #c2c4c6;
}

/* line 340, ../../sass/objects/project.sass */
.slider-project {
  width: 100%;
  height: 250px;
  background-color: #ffffff !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 347, ../../sass/objects/project.sass */
.slider-project .images-list {
  overflow: hidden;
  background-color: #ffe5c7;
  height: 210px;
  padding: 10px;
}
/* line 352, ../../sass/objects/project.sass */
.slider-project .images-list .items {
  width: 100%;
  height: 100%;
}
/* line 356, ../../sass/objects/project.sass */
.slider-project .images-list .items .image-item {
  width: 270px;
  height: 210px;
  padding-right: 10px;
  background-color: #f4f4f4;
}
/* line 362, ../../sass/objects/project.sass */
.slider-project .counter {
  text-align: center;
  margin: 0px auto 0px auto;
  width: 0px;
}
/* line 366, ../../sass/objects/project.sass */
.slider-project .counter i.item {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  background-color: #e2e5e8;
  margin: 5px;
}
/* line 373, ../../sass/objects/project.sass */
.slider-project .counter i.item.active {
  background-color: #228fdf;
}

/* line 376, ../../sass/objects/project.sass */
.projects-menu {
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #ccd3d7;
}
/* line 381, ../../sass/objects/project.sass */
.projects-menu h3 {
  padding: 10px 10px 10px 10px;
  margin: 0px;
  font-size: 21px;
}

/* line 387, ../../sass/objects/project.sass */
.project a.btn-ready-c {
  margin-top: 0;
  margin-bottom: 15px;
}

/* line 391, ../../sass/objects/project.sass */
.news-item-text {
  font-size: 14px;
}

/* line 394, ../../sass/objects/project.sass */
.content-news .btn-more {
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  margin: 10px 0;
}

/* line 400, ../../sass/objects/project.sass */
.link-title {
  display: block;
  clear: both;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 38px;
}

/* line 407, ../../sass/objects/project.sass */
.newsimage {
  width: 80px;
  height: 80px;
  overflow: hidden;
  float: left;
  border-radius: 6px;
  background-color: #E6E6E6;
}

/* line 417, ../../sass/objects/project.sass */
.days-over {
  border: 1px solid #ff801e;
  border-radius: 10px;
  padding: 3px 8px 2px 8px !important;
  margin-left: -7px;
  display: block;
}

/* line 426, ../../sass/objects/project.sass */
.checkbox-default input[type="checkbox"] + i,
.checkbox-default input[type="radio"] + i {
  display: block;
  width: 35px;
  height: 34px;
  background: url(../images/check-switch.png) no-repeat;
  background-size: 70px 35px;
  background-position: -1px 0;
  position: absolute;
  top: -6px;
  left: 0;
}

/* line 438, ../../sass/objects/project.sass */
.checkbox-default input[type="checkbox"]:checked + i,
.checkbox-default input[type="radio"]:checked + i {
  background-position: -36px 0;
}

/* line 443, ../../sass/objects/project.sass */
.checkbox-default {
  position: relative;
  padding: 0 0 0 45px;
  display: inline-block;
  zoom: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 454, ../../sass/objects/project.sass */
.checkbox-default input[type="checkbox"],
.checkbox-default input[type="radio"] {
  visibility: hidden;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 0;
  height: 0;
  border: none;
  background: none;
  overflow: hidden;
}

/* line 466, ../../sass/objects/project.sass */
.money-check {
  padding: 0;
  margin: 4px 0;
}

/* line 470, ../../sass/objects/project.sass */
.money-check li {
  display: inline-block;
  vertical-align: top;
  width: 145px;
  padding: 10px 0 20px 0;
  font-size: 18px;
}

@media (min-width: 600px) {
  /* line 478, ../../sass/objects/project.sass */
  .money-check li {
    width: 190px;
  }
}
/* line 481, ../../sass/objects/project.sass */
.money-check-wrap .textInput {
  width: 200px;
  margin: 5px 5px 0 0;
  font-size: 18px;
  padding: 9px 15px;
  border: 1px solid #d1d3d4;
  border-radius: 4px;
  -webkit-box-shadow: inset #d1d3d4 0px 3px 6px -1px;
  box-shadow: inset #d1d3d4 0px 3px 6px -1px;
  outline: 0;
}

/* line 492, ../../sass/objects/project.sass */
.money-check-wrap .desired-sum {
  margin: 0 0 4px 0;
  font-size: 19px;
}

/* line 496, ../../sass/objects/project.sass */
.money-details-help {
  padding: 0 10px 15px 10px;
  text-align: center;
}
/* line 499, ../../sass/objects/project.sass */
.money-details-help .inner {
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px 12px 18px 12px;
}

/* line 505, ../../sass/objects/project.sass */
.money-details-help .money-check {
  text-align: left;
}
/* line 507, ../../sass/objects/project.sass */
.money-details-help .money-check li {
  display: block;
  width: 100%;
  color: #2388DA;
  font-size: 16px;
  font-weight: bold;
}

/* line 516, ../../sass/objects/project.sass */
.money-details-help .money-check li {
  display: inline-block;
  vertical-align: top;
  width: 220px;
}

/* line 521, ../../sass/objects/project.sass */
.text-regular-help {
  display: none;
  margin: 4px 0 15px 0;
  line-height: 20px;
}

/* line 526, ../../sass/objects/project.sass */
.help-inline-pay {
  padding: 0 10px;
  font-size: 13px;
  line-height: 18px;
  color: #888;
}
/* line 531, ../../sass/objects/project.sass */
.help-inline-pay a {
  color: #888;
  text-decoration: underline;
}

/* line 536, ../../sass/objects/project.sass */
.donate-wrap {
  padding: 10px;
}

/* line 539, ../../sass/objects/project.sass */
.donate-inner {
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-size: 0;
}
/* line 545, ../../sass/objects/project.sass */
.donate-inner .title {
  margin: 14px 0;
  color: #228DDD;
  font-size: 20px;
  font-weight: bold;
}
/* line 550, ../../sass/objects/project.sass */
.donate-inner .text {
  font-size: 14px;
  color: #666;
  margin: 0 0 20px 0;
}

/* line 555, ../../sass/objects/project.sass */
.donate-amount {
  padding: 0 10px;
  margin: 10px 0;
}
/* line 558, ../../sass/objects/project.sass */
.donate-amount b {
  font-size: 18px;
}

/* line 561, ../../sass/objects/project.sass */
.donate-mobile,
.donate-e-money {
  border-top: 1px solid #ccc;
}

@media (min-width: 767px) {
  /* line 566, ../../sass/objects/project.sass */
  .donate-mobile,
  .donate-e-money {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

  /* line 571, ../../sass/objects/project.sass */
  .donate-mobile {
    border-right: 1px solid #ccc;
  }
}
/* line 574, ../../sass/objects/project.sass */
.list-square {
  padding: 0 10px;
  margin: 10px 0;
  list-style: none;
  font-size: 0;
}
/* line 579, ../../sass/objects/project.sass */
.list-square li {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
/* line 583, ../../sass/objects/project.sass */
.list-square li .text {
  font-size: 12px;
  color: #666;
  margin: 10px 0;
}

/* line 589, ../../sass/objects/project.sass */
.list-square li:first-child {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 593, ../../sass/objects/project.sass */
.list-square li:nth-child(2) {
  border-bottom: 1px solid #ccc;
}

/* line 596, ../../sass/objects/project.sass */
.list-square li:last-child {
  border-left: 1px solid #ccc;
}

/* line 599, ../../sass/objects/project.sass */
.icon-donate {
  display: inline-block;
  width: 115px;
  height: 45px;
  background: url("../images/dobromobilpay.png") no-repeat;
  background-size: 480px 173px;
  background-position: 0 0;
}

/* line 607, ../../sass/objects/project.sass */
.icon-beeline {
  background-position: -3px 5px;
}

/* line 610, ../../sass/objects/project.sass */
.icon-megafon {
  background-position: -123px 5px;
}

/* line 613, ../../sass/objects/project.sass */
.icon-tele2 {
  margin-top: 8px;
  background-position: -242px 2px;
}

/* line 617, ../../sass/objects/project.sass */
.icon-mts {
  margin-top: 8px;
  background-position: -364px 1px;
}

/* line 621, ../../sass/objects/project.sass */
.icon-visa {
  background-position: -3px -44px;
}

/* line 624, ../../sass/objects/project.sass */
.icon-webmoney {
  background-position: -123px -44px;
}

/* line 627, ../../sass/objects/project.sass */
.icon-yandex {
  background-position: -242px -41px;
}

/* line 630, ../../sass/objects/project.sass */
.icon-paypal {
  margin-top: 5px;
  height: 40px;
  background-position: -362px -44px;
}

/* line 635, ../../sass/objects/project.sass */
.donate-info {
  margin: 15px 0;
  padding: 0 10px;
}
/* line 638, ../../sass/objects/project.sass */
.donate-info .inner {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 5px 0;
}
/* line 642, ../../sass/objects/project.sass */
.donate-info .inner .comment {
  color: #666;
  font-size: 14px;
  margin: 0;
}

/* line 647, ../../sass/objects/project.sass */
.mobile-operator-wrap {
  padding: 0 10px;
}
/* line 649, ../../sass/objects/project.sass */
.mobile-operator-wrap .icon-wrap {
  padding: 0 0 10px 0;
  text-align: center;
}
/* line 652, ../../sass/objects/project.sass */
.mobile-operator-wrap .icon-wrap .icon-donate {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
/* line 655, ../../sass/objects/project.sass */
.mobile-operator-wrap .text {
  margin: 5px 0;
}
/* line 658, ../../sass/objects/project.sass */
.mobile-operator-wrap .phone-wrap .phone-sub {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 0 7px;
  font-size: 22px;
  line-height: 45px;
}
/* line 667, ../../sass/objects/project.sass */
.mobile-operator-wrap .phone-wrap .text {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
  width: 300px;
}

/* line 673, ../../sass/objects/project.sass */
.e-money-wrap {
  padding: 0 10px;
}
/* line 675, ../../sass/objects/project.sass */
.e-money-wrap .icon-wrap {
  padding: 0 0 10px 0;
  text-align: center;
}

@media (min-width: 767px) {
  /* line 680, ../../sass/objects/project.sass */
  .e-money-wrap {
    text-align: center;
  }
  /* line 682, ../../sass/objects/project.sass */
  .e-money-wrap .text {
    text-align: left;
    width: 490px;
    display: inline-block;
  }
}
/* line 687, ../../sass/objects/project.sass */
.phone-input {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0 0 20px 0;
  padding: 0 0 0 40px;
  background: #f1f1f1;
  height: 45px;
  overflow: hidden;
}
/* line 696, ../../sass/objects/project.sass */
.phone-input input {
  border: 0;
  outline: 0;
  height: 45px;
  display: block;
  width: 100%;
  background: #fff;
  font-size: 22px;
  line-height: 45px;
  padding: 0 10px 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 767px) {
  /* line 709, ../../sass/objects/project.sass */
  .mobile-operator-wrap {
    text-align: center;
  }
  /* line 711, ../../sass/objects/project.sass */
  .mobile-operator-wrap .phone-wrap,
  .mobile-operator-wrap .icon-wrap {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  /* line 716, ../../sass/objects/project.sass */
  .mobile-operator-wrap .text {
    text-align: left;
    width: 490px;
    display: inline-block;
  }
  /* line 720, ../../sass/objects/project.sass */
  .mobile-operator-wrap .phone-wrap {
    width: 300px;
  }
  /* line 722, ../../sass/objects/project.sass */
  .mobile-operator-wrap .icon-wrap {
    position: relative;
    width: 200px;
    height: 90px;
  }
  /* line 726, ../../sass/objects/project.sass */
  .mobile-operator-wrap .icon-wrap .icon-donate {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: scale(1.4) translate(0, -50%);
    transform: scale(1.4) translate(0, -50%);
  }

  /* line 732, ../../sass/objects/project.sass */
  .donate-info {
    margin: 20px auto;
    width: 580px;
  }
  /* line 71, ../../sass/objects/mixins.scss */
  .donate-info .inner:before, .donate-info .inner:after {
    content: " ";
    display: table;
  }
  /* line 76, ../../sass/objects/mixins.scss */
  .donate-info .inner:after {
    clear: both;
  }
  /* line 737, ../../sass/objects/project.sass */
  .donate-info .donate-amount {
    width: 240px;
  }
  /* line 739, ../../sass/objects/project.sass */
  .donate-info .donate-amount:first-child {
    float: left;
  }
  /* line 741, ../../sass/objects/project.sass */
  .donate-info .donate-amount:last-child {
    width: 290px;
    float: right;
  }
}
/* line 745, ../../sass/objects/project.sass */
.anonym {
  position: relative;
  padding: 10px 14px 10px 50px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 8px;
  line-height: 20px;
}
/* line 752, ../../sass/objects/project.sass */
.anonym input {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
}

/* line 760, ../../sass/objects/project.sass */
.title-blue {
  margin: 10px 0;
  color: #228DDD;
}

/* line 765, ../../sass/objects/project.sass */
.split a {
  font-size: 17px;
  text-decoration: underline;
}

@media (min-width: 767px) {
  /* line 770, ../../sass/objects/project.sass */
  .anonym {
    width: 440px;
    margin: 0 auto;
    padding: 10px 50px 10px 50px;
  }
  /* line 774, ../../sass/objects/project.sass */
  .anonym input {
    left: 10px;
  }

  /* line 776, ../../sass/objects/project.sass */
  .thanks-text {
    width: 550px;
    margin: 10px auto;
  }

  /* line 71, ../../sass/objects/mixins.scss */
  .socials-thanks:before, .socials-thanks:after {
    content: " ";
    display: table;
  }
  /* line 76, ../../sass/objects/mixins.scss */
  .socials-thanks:after {
    clear: both;
  }
  /* line 781, ../../sass/objects/project.sass */
  .socials-thanks .left-bl {
    width: 295px;
    padding-left: 110px;
    float: left;
    text-align: left !important;
  }
  /* line 786, ../../sass/objects/project.sass */
  .socials-thanks .right-bl {
    width: 215px;
    padding-right: 90px;
    padding-top: 55px;
    float: right;
  }
}
/* line 792, ../../sass/objects/project.sass */
.donate-error {
  padding: 0 10px;
  text-align: center;
}
/* line 795, ../../sass/objects/project.sass */
.donate-error h4 {
  font-size: 26px;
  margin: 15px 0;
}
/* line 798, ../../sass/objects/project.sass */
.donate-error .text {
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

@media (min-width: 767px) {
  /* line 804, ../../sass/objects/project.sass */
  .donate-error {
    width: 500px;
    margin: 0 auto;
  }
}
/* line 809, ../../sass/objects/project.sass */
.choice-card {
  padding: 0 10px;
}
